

<div class="card" style="width: 18rem;">
  <img src="{{url_images_livres ~ livre.couverture}}" alt="Pas de couverture" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">{{l.titre}}</h5>
    <p class="card-text">{{l.auteur}}</p>
    <a href="{{path("emprunter_livre", {'id': l.id})}}" class="btn btn-primary {{ l in liste_indisponibles? "disabled" : "" }}">Emprunter</a>
  </div>
</div>
